.address {
  display: flex;

  &__title {
    margin: 0;

    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: @text-color-darker;
    text-transform: uppercase;
  }

  &__coordinates {
    margin-left: 20px;
    font-style: normal;
    line-height: 1.48;
    font-family: "Arial", sans-serif;
  }
}

@media (min-width: @tablet) {
  .address {
    width: 91%;
    max-width: 1220px;
    padding: 0;

    &__title {
      width: 170px;
      margin-left: 40px;

      font-size: 20px;
    }

    &__coordinates {
      width: 170px;
      margin: 0 40px 0 auto;

      font-size: 16px;
      line-height: 1.25;
      text-align: right;
    }

    &__city {
      line-height: 3;
    }
  }
}

@media (min-width: @desktop) {
  .address {
    width: 570px;
    padding: 66px 76px 54px;

    background-color: #ffffff;

    &__title {
      margin-left: 0;
    }

    &__coordinates {
      margin-right: 0;
    }
  }
}
