.btn {
  display: block;
  width: 280px;
  padding: 12px 0;

  font-family: @font-main;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-decoration: none;

  background-color: @accent-color;
  border: 0;

  &:hover,
  &:focus {
    background-color: hsl(97, 57%, 43%);

    outline-color: hsl(97, 57%, 43%);
  }

  &:active {
    color: hsla(0, 100%, 100%, 0.3);
    background-color: #5eaa2f;
  }

  &--gray {
    color: @text-color-main;
    background-color: #f2f2f2;

    &:hover,
    &:focus {
      background-color: #ebebeb;

      outline-color: #ebebeb;
    }

    &:active {
      color: hsla(0, 0%, 27%, 0.3);
    }
  }
}
