.contacts {
  text-align: center;

  background-color: @bg-gray;

  &__logo-link {
    display: block;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__logo-img {
    margin-top: 39px;
    margin-bottom: 30px;
  }
}

@media (min-width: @tablet) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-img {
      margin: 0;
    }
  }
}
