.contacts {
  text-align: center;

  &__wrapper {
    padding: 0 19px;
  }

  &__link {
    color: #666666;

    &--logo {
      display: flex;
    }

    &--logo img {
      margin: 0 auto;
      margin-top: 39px;
      margin-bottom: 31px;
    }

    &--soc {
      display: flex;
      height: 62px;
      width: 25px;
      margin-right: 31px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--soc svg {
      margin: auto;
    }

    &--academy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;
      margin-bottom: 13px;

      font-family: "Arial", sans-serif;
      font-size: 16px;
      text-decoration: none;
    }

    // &--academy svg {
    //   margin-right: -5px;
    // }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px @border-color solid;
    border-bottom: 1px @border-color solid;
  }
}

@media (min-width: @tablet) {
  .contacts {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 92%;
      max-width: 1220px;
      margin: 47px auto;
      padding: 0;
    }

    &__link {
      &--logo img {
        margin: auto;
      }

      &--soc {
        width: auto;
        height: auto;
        margin-right: 29px;
      }

      &--academy {
        width: 171px;
        margin: 0;
        margin-right: -8px;
      }
    }

    &__social {
      width: 104px;
      justify-content: space-between;
      border: 0;
    }

    &__icon {
      height: auto;

      &--vk {
        width: 30px;
      }

      &--insta {
        width: 23px;
      }

      &--fb {
        width: 14px;
      }
    }
  }
}
