.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link--name {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: @text-color-main;
    text-decoration: none;
  }

  &__link--logo {
    font-size: 0;
    line-height: 0;
    color: transparent;
  }

  &__logo {
    width: 40px;
    height: 51px;

    fill: @text-color-main;
  }
}

@media (min-width: @tablet) {
  .copyright {
    width: 170px;
  }
}
