.goods-card {
  padding-bottom: 17px;

  border-bottom: 1px @border-color solid;
}

.goods-card__title {
  margin: 14px 0 16px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: @text-color-darker;
  text-transform: uppercase;
}

.goods-card__table {
  margin-bottom: 14px;
}

.goods-card__row {
  width: 100%;
}

.goods-card__cell {
  width: 140px;

  font-family: "Arial", sans-serif;
  line-height: 1;
}

.goods-card__cell--right {
  text-align: right;
}

@media (min-width: @tablet) {
  .goods-card {
    display: flex;
    flex-wrap: wrap;
    padding: 27px 30px;

    border: 1px @border-color solid;

    &:nth-last-child(n+2) {
      border-bottom: 0;
    }
  }

  .goods-card__title {
    width: 60%;
    margin: 0 auto 26px 0;
    font-size: 20px;
  }

  .goods-card__table {
    width: 40%;
    margin-bottom: 0;
    text-align: right;
  }

  .goods-card__cell {
    font-size: 16px;
    line-height: 1.25;

    &--left {
      width: 135px;
    }

    &--right {
      width: 55px;
    }
  }

  .goods-card__btn {
    flex-grow: 1;
  }
}
