.goods-card {
  margin: 0 auto;
  padding-bottom: 17px;

  border-bottom: 1px @border-color solid;

  &:last-child {
    border-bottom: 0;
  }

  &__title {
    margin: 14px 0 15px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: @text-color-darker;
    text-transform: uppercase;
  }

  &__table {
    width: 100%;
    margin-bottom: 14px;
    border-collapse: collapse;
  }

  &__cell {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1;
  }

  &__cell--right {
    text-align: right;
  }
}

@media (min-width: @tablet) {
  .goods-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 28px 30px;
    padding-bottom: 27px;

    border: 1px @border-color solid;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px @border-color solid;
    }

    &__title {
      width: 60%;
      margin: 0;
      font-size: 20px;
    }

    &__table {
      width: 40%;
      margin-bottom: 0;
      text-align: right;
    }

    &__cell {
      font-size: 16px;

      &--right {
        width: 96px;
      }
    }

    &__btn {
      flex-grow: 1;
      margin-top: 24px;
    }
  }
}

@media (min-width: @desktop) {
  .goods-card {
    align-items: baseline;
    padding: 15px 0;
    border: 0;
    border-top: 1px @border-color solid;

    // &:last-child {
    //   border-bottom: 1px @border-color solid;
    // }

    &__title {
      width: 27%;
      margin: 0 40px 0 0;
    }

    &__table {
      width: 31%;
      margin: 0 40px;
    }

    &__cell--left {
      text-align: left;
    }

    &__btn {
      width: 27%;
      margin-top: 0;
    }
  }
}
