.info-card {
  padding: 20px;
  padding-top: 23px;
  background-color: @bg-gray;
}

.info-card__header {
  display: flex;
  margin-left: 2px;

  align-items: center;
}

.info-card__icon-wrapper {
  width: 50px;
  height: 50px;

  background-color: @accent-color;
  border-radius: 50%;
}

.info-card__icon {
  display: block;
  height: 100%;
  margin: auto;
}

.info-card__icon--weight-loss {
  width: 35px;
}

.info-card__icon--weight-gain {
  width: 67px;
  margin-left: -10px;
}

.info-card__title {
  margin: 0;
  margin-left: 19px;

  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;
  color: @text-color-darker;
  text-transform: uppercase;
}

.info-card__description {
  margin: 22px 0 19px;
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px @border-color solid;
}

.info-card__link {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @text-color-darker;
}

.info-card__arrow {
  position: absolute;
  top: 11px;
  right: -29px;
  z-index: 1;

  display: inline-block;
  width: 17px;
  height: 2px;
  margin-left: 12px;

  font-size: 0;
  color: transparent;

  background-color: hsl(180, 3%, 25%);

  transition: width 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -6px;

    display: block;
    width: 0;
    height: 0;

    border: 6px hsl(180, 3%, 25%) solid;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.info-card__link:hover .info-card__arrow {
  width: 26px;
}

.info-card__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .info-card {
    position: relative;
    padding: 78px 0 60px 52px;

    &__icon-wrapper {
      position: absolute;
      top: 50%;
      right: 61px;
      transform: translateY(-47%);

      width: 200px;
      height: 200px;
    }

    &__header {
      margin: 0;
    }

    &__title {
      margin-left: 0;

      font-size: 36px;
      line-height: 1;
      text-transform: uppercase;
    }

    &__description {
      width: 372px;
      margin: 24px 0 56px;
      padding: 0;

      font-size: 16px;
      line-height: 1.5;

      border: 0;

      &--narrow {
        width: 340px;
      }
    }

    &__link {
      font-size: 20px;
      line-height: 1;
    }

    &__arrow {
      top: 14px;
      right: -40px;
    }

    &__icon--weight-loss {
      width: 140px;
      height: auto;
      margin-top: -12px;
    }

    &__icon--weight-gain {
      width: 268px;
      height: auto;
      margin-left: -34px;
      margin-top: 43px;
    }
  }
}

@media (min-width: @desktop) {
  .info-card {
    width: 570px;
    margin: 0;
    padding: 41px 53px 63px 52px;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }

    &__icon-wrapper {
      position: static;
      width: 100px;
      height: 100px;
      transform: none;
    }

    &__icon--weight-loss {
      width: 70px;
      height: auto;
    }

    &__icon--weight-gain {
      width: 134px;
      height: auto;
      margin-left: -17px;
      margin-top: 22px;
    }

    &__title {
      margin-left: 62px;
    }

    &__description {
      width: 100%;
      margin: 45px 0 36px;
    }

    &__arrow {
      top: 10px;
      right: -42px;
    }
  }
}
