.instruction {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  &__title {
    margin: 0;

    font-size: 36px;
    line-height: 1.66;
    font-weight: 400;
    color: @text-color-darker;
  }

  &__list {
    margin: 29px 0 43px;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;

    align-items: center;
  }

  &__icon {
    width: 60px;
    height: 60px;
    padding: 30px;
    margin-right: 20px;

    background-color: hsl(97, 53%, 47%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;

    &--leaf {
      background-image: url("../img/advantage-leaf@1x.png");
    }

    &--powder {
      background-image: url("../img/advantage-powder@1x.png");
    }

    &--dining {
      background-image: url("../img/advantage-dining@1x.png");
    }

    &--clock {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  &__text {
    margin: 0;

    font-family: "Arial", sans-serif;

    br {
      display: none;
    }
  }
}

@media (min-width: @tablet) {
  .instruction {
    width: 92%;
    max-width: 1220px;
    margin-top: 45px;
    padding: 0;

    &__title {
      margin-bottom: 40px;
      font-size: 60px;
      line-height: 1;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }

    &__item {
      position: relative;
      display: block;
      width: 324px;
      margin-top: 32px;
      margin-bottom: 100px;

      &::after {
        position: absolute;
        top: -40px;
        z-index: 1;
        display: block;

        font-size: 280px;
        line-height: 1;
        color: hsla(0, 0%, 95%, 1);
      }

      &:first-child::after {
        content: "1";
        left: 117px;
      }

      &:nth-child(2)::after {
        content: "2";
        left: 112px;
      }

      &:nth-child(3)::after {
        content: "3";
        left: 112px;
        top: -39px;
      }

      &:last-child::after {
        content: "4";
        left: 114px;
      }
    }

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__text {
      position: relative;
      z-index: 100;
      width: 245px;
      margin-top: 33px;

      font-size: 16px;
      line-height: 1.5;

      br {
        display: inline-block;
      }
    }
  }
}

@media (min-width: @desktop) {
  .instruction {
    margin-top: 67px;

    &__item {
      width: auto;
    }
  }
}
