.main-nav {
  position: relative;
  width: auto;

  &__toggle {
    position: absolute;
    top: -67px;
    right: 0;
    z-index: 2;

    width: 64px;
    height: 65px;

    background-color: #ffffff;

    cursor: pointer;
    border: 0;

    &:hover {
      outline: 0;
    }

    &:active,
    &:focus {
      background-color: #ffffff;
    }
  }

  &__list {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 20px;

    width: 24px;
    height: 2px;

    background-color: #222222;
    box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
  }

  &--closed .main-nav__toggle:active::before {
    background-color: hsla(0, 0%, 13%, 0.3);
    box-shadow: 0 8px 0 0 hsla(0, 0%, 13%, 0.3), 0 16px 0 0 hsla(0, 0%, 13%, 0.3);
  }

  &--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 32px;
      left: 20px;

      width: 24px;
      height: 2px;

      background-color: #222222;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: hsla(0, 0%, 13%, 0.3);
    }
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: @tablet) {
  .main-nav {
    width: auto;
    flex-grow: 1;

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: @desktop) {
  .main-nav {
    &__item {
      font-size: 20px;
      line-height: 1.2;
    }

    &__link--light {
      color: #ffffff;
    }

    &__link--active-light {
      border-color: #ffffff;
    }
  }
}
