.offer {
  width: 100%;
  height: 305px;

  margin-bottom: 197px;
  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;

  border-top: 1px transparent solid;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;
    margin-top: 25px;

    text-align: center;
    color: hsl(0, 0%, 100%);
  }

  &__title {
    margin: 0;

    font-size: 36px;
    line-height: 1;
    font-weight: 400;
  }

  &__subtitle {
    margin: 23px 0 0;

    text-transform: uppercase;
  }

  &__picture {
    margin-bottom: -3px;
  }

  &__image {
    width: 280px;
    margin-top: 27px;
  }

  &__btn {
    margin: 0 auto;

    font-size: 14px;
    padding: 13px 0;
  }
}

@media (min-width: @tablet) {
  .offer {
    height: auto;
    min-height: 842px;
    margin-bottom: 0;

    background-color: #ffffff;
    background-image: none;

    &__wrapper {
      position: relative;
      z-index: 100;
      width: 92%;
      max-width: 1220px;
      margin: 0 auto;
      margin-top: 31px;
      padding-left: 87px;

      text-align: left;
      color: @text-color-darker;
    }

    &__title {
      width: 419px;

      font-size: 60px;
      line-height: 1;
    }

    &__subtitle {
      margin-top: 41px;
      margin-bottom: 47px;

      font-size: 20px;
      line-height: 1;
    }

    &__picture {
      position: absolute;
      top: 202px;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;

      text-align: center;
    }

    &__image {
      width: 709px;
      margin: 0;
    }

    &__btn {
      position: relative;
      z-index: 99;
      width: 245px;
      margin: 0;
      padding: 16px 0;

      font-size: 20px;
    }
  }
}

@media (min-width: @desktop) {
  .offer {
    width: 100%;
    min-height: 696px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }

    &__wrapper {
      min-height: initial;
      margin-top: 222px;
      margin-left: 103px;
    }

    &__subtitle {
      margin-top: 40px;
      margin-bottom: 54px;
    }

    &__picture {
      top: -82px;
      width: 45.24%;
      left: 50%;
      transform: translateX(-27.49%);
    }

    &__btn {
      position: static;
      margin: 0;
    }
  }
}
