.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  border-bottom: 1px @border-color solid;
}

.page-header__logo {
  display: block;
  padding: 11px 0 15px 20px;
}

@media (min-width: @tablet) {
  .page-header {
    min-width: 708px;
    height: auto;
    padding: 24px 30px;

    border: 0;
  }

  .page-header__logo {
    padding: 0;
  }
}
