.page-footer {
  margin: 0 auto;

  border-top: 1px transparent solid;

  &--gray {
    background-color: @bg-gray;
  }

  &__address {
    padding: 30px 20px;
    margin-bottom: -1px;
  }

  &__iframe {
    width: 100%;
    min-height: 362px;
    margin-bottom: -2px;

    border: none;
  }

  &__contacts {
    background-color: @bg-gray;
    border-top: 1px transparent solid;
    border-bottom: 1px transparent solid;
  }
}

@media (min-width: @tablet) {
  .page-footer {
    &__address {
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 55px;
    }

    &__iframe {
      min-height: 400px;
    }

    // &__contacts {
    //   width: 91%;
    //   max-width: 1220px;
    //   margin: 39px auto;
    //   margin-bottom: 38px;
    //   padding: 0;
    // }
  }
}

@media (min-width: @desktop) {
  .page-footer {
    position: relative;

    &__address {
      position: absolute;
      top: 96px;
      left: 110px;
      z-index: 1;

      margin: 0;
    }

    // &__contacts {
    //   margin-top: 60px;
    //   margin-bottom: 56px;
    // }
  }
}
