.page-header {
  width: 100%;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  border-bottom: 1px @border-color solid;
}

.page-header__logo {
  display: block;
  padding: 11px 0 15px 20px;
}
