.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px;

  &--show-more {
    flex-direction: column;
    text-align: center;
  }

  &__title {
    width: 75px;
    margin-top: 24px;
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: @text-color-darker;
    text-transform: uppercase;

    &--show-more {
      width: auto;
      margin: 0;
      line-height: 1;
    }
  }

  &__wrapper {
    width: 50%;
  }

  &__table {
    border-collapse: collapse;
  }

  &__cell {
    width: 70px;

    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1;
    color: @text-color-main;
  }

  &__cell--right {
    text-align: right;
  }

  &__icon {
    margin: 26px 0;
    width: 30px;
    height: 30px;

    fill: hsla(0, 0%, 13%, 0.2);
  }

  &__subtitle {
    margin-top: 11px;
    margin-bottom: 23px;

    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.33;
  }
}

@media (min-width: @tablet) {
  .product-card {
    position: relative;
    width: 324px;
    margin: 70px 0;

    padding: 0;

    background-color: @bg-gray;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px @border-color solid;
    }

    &--show-more {
      padding-top: 0;
      background-color: #ffffff;
      border: 1px @border-color solid;
    }

    &__wrapper {
      width: 249px;
      margin: 0 auto;
      margin-top: 166px;
    }

    &__title {
      width: 131px;
      margin: 0 auto;
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 1;
      text-align: center;

      &--show-more {
        width: 140px;
        margin: 0 auto;
      }
    }

    &__subtitle {
      width: 172px;
      margin: 28px auto 0;

      font-size: 16px;
    }

    &__img {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 311px;
      z-index: 100;
    }

    &__table {
      width: 100%;
    }

    &__cell {
      font-size: 16px;
      line-height: 1;
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: 1px hsla(0, 0%, 80%, 1) solid;
    }

    &__btn {
      width: 249px;
      margin: 33px auto 40px;

      &--show-more {
        margin-top: 70px;
        margin-bottom: -1px;
      }
    }

    &__icon {
      margin: 55px 0 52px;
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: @desktop) {
  .product-card {
    width: 245px;
    margin: 71px 0;

    &__wrapper {
      width: 169px;
    }

    &__table {
      // width: 167px;
    }

    &__btn {
      width: 169px;
    }
  }
}
