.products {
  margin: 0 auto;

  &__title {
    margin-top: 26px;
    margin-bottom: 40px;
    padding-left: 20px;

    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: @text-color-darker;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 1px @border-color solid;
    border-bottom: 1px @border-color solid;
  }

  &__item {
    width: 320px;
    margin: 0 auto;

    border-bottom: 1px @border-color solid;

    &:last-child {
      border-bottom: 0;
    }
  }
}

@media (min-width: @tablet) {
  .products {
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: -3px;
    border-bottom: 0;

    &__title {
      margin: 32px 0 95px;
      padding: 0;
      text-align: left;
      font-size: 60px;
      line-height: 1;
      border: 0;
    }

    &__list {
      border: 0;
    }
  }
}

@media (min-width: @desktop) {
  .products {
    width: 93.84%;

    &__title {
      margin-top: 31px;
      margin-bottom: 94px;
      padding-left: 0;
    }
  }
}
