.program {
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding: 11px 20px 17px;
}

.program__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet) {
  .program {
    min-width: 708px;
    padding: 0 30px;
  }

  .program__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
