html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 1.28em;
  font-family: @font-main;
  font-weight: normal;
  color: @text-color-main;

  background: @bg-main;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: @tablet) {
  min-width: 768px;
}

@media (min-width: @desktop) {
  min-width: 1330px;
}
