@font-face {
  font-family: "Oswald-Regular";
  src: url("/fonts/oswaldregular.eot");
  src: url("/fonts/oswaldregular.eot?#iefix") format("embedded-opentype"), url("/fonts/oswaldregular.otf") format("opentype"), url("/fonts/oswaldregular.svg") format("svg"), url("/fonts/oswaldregular.ttf") format("truetype"), url("/fonts/oswaldregular.woff") format("woff"), url("/fonts/oswaldregular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url("/fonts/oswaldmedium.eot");
  src: url("/fonts/oswaldmedium.eot?#iefix") format("embedded-opentype"), url("/fonts/oswaldmedium.otf") format("opentype"), url("/fonts/oswaldmedium.svg") format("svg"), url("/fonts/oswaldmedium.ttf") format("truetype"), url("/fonts/oswaldmedium.woff") format("woff"), url("/fonts/oswaldmedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
