.font-face(@font-family, @filepath, @font-weight, @font-style){
  @font-face {
      font-family: @font-family;
      src: url("/fonts/@{filepath}.eot"); /* IE9 Compat Modes */
      src: url("/fonts/@{filepath}.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("/fonts/@{filepath}.otf") format("opentype"), /* Open Type Font */
        url("/fonts/@{filepath}.svg") format("svg"), /* Legacy iOS */
        url("/fonts/@{filepath}.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/@{filepath}.woff") format("woff"), /* Modern Browsers */
        url("/fonts/@{filepath}.woff2") format("woff2");
      font-weight:@font-weight;
      font-style:@font-style;
  }
}

.font-face("Oswald-Regular", "Oswald-Regular", normal, normal);
.font-face("Oswald-Medium", "Oswald-Medium", normal, normal);
