@font-face {
  font-family: "Oswald-Regular";
  src: url("/fonts/Oswald-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/Oswald-Regular.otf") format("opentype"), /* Open Type Font */ url("/fonts/Oswald-Regular.svg") format("svg"), /* Legacy iOS */ url("/fonts/Oswald-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("/fonts/Oswald-Regular.woff") format("woff"), /* Modern Browsers */ url("/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url("/fonts/Oswald-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Oswald-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("/fonts/Oswald-Medium.otf") format("opentype"), /* Open Type Font */ url("/fonts/Oswald-Medium.svg") format("svg"), /* Legacy iOS */ url("/fonts/Oswald-Medium.ttf") format("truetype"), /* Safari, Android, iOS */ url("/fonts/Oswald-Medium.woff") format("woff"), /* Modern Browsers */ url("/fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.28em;
  font-family: "Oswald-Regular", "Roboto", sans-serif;
  color: #454545;
  background: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page-header {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  padding-left: 20px;
}
.main-nav__toggle {
  padding: 0 20px;
}
.main-nav__toggle {
  font-size: 0;
  color: transparent;
}
.main-nav__burger {
  display: none;
}
.main-nav__burger--show {
  display: block;
}
.main-nav {
  display: none;
  width: 100%;
  height: auto;
  padding: 0 -20px;
}
.main-nav--active {
  display: block;
}
.main-nav_list {
  padding-inline-start: 0;
  list-style: none;
  border-bottom: 1px #e6e6e6 solid;
}
.main-nav__item {
  padding: 24px 0;
  border-top: 1px #e6e6e6 solid;
  font-style: medium;
  font-size: 20px;
  line-height: 1;
  font-family: "Oswald-Medium", "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.main-nav__link {
  color: #121212;
  text-decoration: none;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  opacity: 0.3;
}
.main-nav__link--active {
  opacity: 1;
  border-bottom: 2px #69b738 solid;
}
