@bg-main: hsl(0, 0%, 100%);
@bg-gray: hsl(0, 0%, 95%);
@font-main: "Oswald", "Arial", sans-serif;
@text-color-main:hsl(0, 0%, 27%);
@text-color-darker: hsl(0, 0%, 7%);
@accent-color: hsl(97, 53%, 47%);
@border-color: #e6e6e6;
@mobile-width-only: 767px;
@tablet: 768px;
@desktop: 1300px;
@retina-dpi: 133dpi;
@retina-dppx: 1.5dppx;
