.btn {
  display: inline-block;
  width: 280px;
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #69b738;
}
.btn:hover {
  background-color: #5fac2f;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
